.item-container {
  padding: 20px;
}

.section {
  margin-bottom: 40px;
}

.section-title {
  font-size: 30px;
  color: #ffbf1d;
  margin-bottom: 20px;
  border-bottom: 2px solid #003366;
  padding-bottom: 10px;
}

.experience-box {
  background-color: rgba(255, 255, 255, 0.4);
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 20px;
  transition: transform 0.3s, box-shadow 0.3s;
  position: relative;
}

.experience-box:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.experience-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.experience-date-location {
  font-size: 0.9em;
  color: #666;
}

.experience-box h3 {
  color: #333;
  margin-bottom: 10px;
  font-size: 25px;
}

.experience-box p,
.experience-box li {
  color: #886202;
  font-size: 20px;
}

.experience-box a {
  color: #ffbf1d;
  text-decoration: none;
}

.experience-box a:hover {
  color: #3C9DB2;
  text-decoration: underline;
}

.experience-box strong {
  color: #333;
}