.footer {
    width: 100%;
    color: #F0E68C;
    text-align: center;
    padding: 20px;
    font-size: 0.8em;
    background-color: #161824;
    border-top: 4px solid #7d7a6e;
}

.footer a {
    color: #ffd166;
    text-decoration: none;
    margin: 0 10px;
}

.footer a:hover {
    color: #ff5733;
}
