/* content/index.css */
.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 10%;
    flex-direction: row-reverse;
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.image {
    width: 80%;
    height: 100%;
    max-width: 600px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 34%;
}

.glass-card {
    background: rgba(255, 255, 255, 0.295);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 20px 0;
}