/* Container for centering content and spacing */
.info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px; /* Equal padding on all sides */
    margin: 0 auto;
    min-height: 100vh; /* Takes up full viewport height */
    box-sizing: border-box;
}

.glass-card {
    display: flex;
    flex-direction: row; /* Keep items in a row */
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally if needed */
    background: rgba(255, 255, 255, 0.4);
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(8px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    min-height: 100vh;
    box-sizing: border-box;
}

/* Adjust .text-content to center text vertically */
.text-content {
    padding: 1%;
    max-width: 58%;
    flex: 1;
    display: flex; /* Enable flex layout */
    flex-direction: column;
    justify-content: center; /* Center text vertically */
}

.title {
    font-size: 2.5em;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.88);
    font-family: 'Chakra Petch', sans-serif;
}

h1:where(.css-dev-only-do-not-override-tpassh).ant-typography {
    margin-bottom: 0.5em;
    color: rgba(0, 0, 0, 0.88);
    font-weight: 600;
    font-size: 52px;
    line-height: 1.2105263157894737;
    font-family: 'Chakra Petch', sans-serif;
}

div:where(.css-dev-only-do-not-override-tpassh).ant-typography, :where(.css-dev-only-do-not-override-tpassh).ant-typography p {
    margin-bottom: 1em;
    font-size: 1.1em;
    line-height: 1.5;
    color: #555;

}

.ant-image{
    width: 38%;  
    vertical-align: middle;
    padding: 1%;
}

.profile-image {
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

/* Responsive styling */
@media (max-width: 768px) {
    .glass-card {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .profile-image {
        width: 60%;
        max-width: 300px;
        margin: 20px 0;
    }

    .text-content {
        max-width: 90%;
    }
}