.footer {
    background: rgba(255, 255, 255, 0.75);
    border-radius: 15px 15px 0 0;
    border-top: 1px solid rgba(200, 200, 200, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 -4px 15px rgba(0, 0, 0, 0.1);
    padding: 10px;
    width: 100%;
    z-index: 1000;
    box-sizing: border-box;
    text-align: center;
    color: #333;
}

.footer a {
    color: #003366;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
}

.footer a:hover {
    color: #00509e;
}